{{partial 'nav_layout'}}

<div class="container nav-container" style="width: auto;">
  <div class="row">
    <div class="col-sm-9">

      <h1 style="text-align: center;">Smallest Photos</h1>
      {{partial 'photo/paging_bar'}}

      {{#each photo in model}}
        {{selectable-photo photo=photo action='open_preview'}}
      {{/each}}

      {{partial 'photo/paging_bar'}}
    </div>

    <div class="col-sm-3">
      {{partial 'photo/tagging'}}
    </div>
  </div>

</div>
