{{partial 'photo/paging_bar'}}

{{#each photo in model}}
  <div class="mini-photo-holder">
    <div class="photo img-thumbnail">
      <div style="text-align: center;" {{action 'open_preview' photo }} {{bind-attr title=photo.original_filename}}>
        <img class="photo-thumbnail" {{bind-attr src=photo.small_photo_path}}>
      </div>
      {{render 'tag_holder' photo}}
    </div>
  </div>
{{/each}}

{{partial 'photo/paging_bar'}}
