<h4>Click to add</h4>
<h5>People</h5>
{{#each person in application.master_people_list}}
  <span class="person tag-label add-tag" {{action 'tagging_add_person' person }}>
  <span class="glyphicon glyphicon-plus"></span>
    {{person}}
</span>
{{/each}}
<h5 style="margin-top: 2em;">Places</h5>
{{#each place in application.master_places_list}}
  <span class="place tag-label add-tag" {{action 'tagging_add_place' place }}>
  <span class="glyphicon glyphicon-plus"></span>
    {{place}}
</span>
{{/each}}
<h5 style="margin-top: 2em;">Tags</h5>
{{#each tag in application.master_tags_list}}
  <span class="tag tag-label add-tag" {{action 'tagging_add_tag' tag }}>
  <span class="glyphicon glyphicon-plus"></span>
    {{tag}}
</span>
{{/each}}
<h5 style="margin-top: 2em;">Collections</h5>
{{#each group in application.master_collection_list}}
  <span class="collection tag-label add-tag" {{action 'tagging_add_collection' group }}>
  <span class="glyphicon glyphicon-plus"></span>
    {{group}}
</span>
{{/each}}
<div class="add-tags-buttons">
  <button class="btn person" {{action 'tagging_add_person'}}>Add person</button>
  <button class="btn place" {{action 'tagging_add_place'}}>Add place</button>
  <button class="btn tag" {{action 'tagging_add_tag'}}>Add tag</button>
  <button class="btn collection" {{action 'tagging_add_collection'}}>Add collection</button>
</div>
