<div>
  <div id="photo-upload-div" style="border: 1px solid #008B00; padding: 30px; text-align: center; background-color: #EEFFEE">
    Drop photos here or click to add - accepts jpg, png, and gif
  </div>
  <input style="display: none" id="fileupload" type="file" name="files[]" data-url="home/upload" accept="image/*" multiple>
</div>
<div>
  <% @tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</div>
<% @photos.each do |photo| %>
  <div class="photo" data-filename="<%= photo.filename %>">
    <div style="text-align: center;">
      <a href="<%= photo.medium_thumb %>" target="_blank">
        <img src="<%= photo.small_thumb %>">
      </a>
    </div>
    <div><%= photo.original_filename %></div>
    <div><%= photo.photo_time %></div>
    <div>
      <% photo.tags.each do |tag| %>
        <span class="tag"><%= tag %></span>
      <% end %>
    </div>
  </div>
<% end %>