<div>
  <div id="photo-upload-div" style="border: 1px solid #008B00; padding: 30px; text-align: center; background-color: #EEFFEE">
    Drop photos here or click to add - accepts jpg, png, and gif
  </div>
  <input style="display: none" id="fileupload" type="file" name="files[]" data-url="home/upload" accept="image/*" multiple>
</div>
<h3>Recent Uploads</h3>
<div class="clearfix">
  <% @photos.each do |photo| %>
    <div class="photo" data-filename="<%= photo.filename %>">
      <div style="text-align: center;">
        <a href="home/medium_thumb/<%= photo.filename %>" title="<%= photo.original_filename %>" target="_blank">
          <img src="home/small_thumb/<%= photo.filename %>">
        </a>
      </div>
      <div><%= photo.photo_time.andand.strftime('%F') %></div>
      <div>
        <% photo.tags.each do |tag| %>
          <span class="tag"><%= tag %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div>
  <% @tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</div>
