<div {{bind-attr class="selected:photo-selected :photo :img-thumbnail"}} {{action 'toggle_selection' photo}}>
  <div style="text-align: center;" {{bind-attr title=photo.original_filename}}>
    <img class="photo-thumbnail" {{bind-attr src=photo.small_photo_path}} {{action 'open_preview' }}>
  </div>
  {{render 'tag_holder' photo}}
</div>
