<div {{bind-attr title=formatted_photo_time}}>{{pretty_photo_time}}</div>
<div class="tag-holder" style="text-align: center">
  {{#each people}}
    {{#link-to 'person' this class="person label label-primary"}}
      {{this}}
    {{/link-to}}
  {{/each}}
  {{#each tags}}
    {{#link-to 'tag' this class="tag label label-primary"}}
      {{this}}
    {{/link-to}}
  {{/each}}
  {{#each places}}
    {{#link-to 'place' this class="place label label-primary"}}
      {{this}}
    {{/link-to}}
  {{/each}}
</div>
