<button class="btn btn-primary top-back-button" {{action 'back'}}>
  <span class="glyphicon glyphicon-arrow-left"></span>
</button>

<div class="col-sm-8" style="text-align: center;">
  <div class="photo-preview">
    {{photo-paging next_photo='next' previous_photo='previous'}}
    <div style="position: absolute; left: 1em; top: 1em;">
      {{#each person in model.people}}
        <span class="person tag-label delete-tag" {{action 'remove_tag' 'person' person }}>{{person}}</span>
      {{/each}}
      {{#each place in model.places}}
        <span class="place tag-label delete-tag" {{action 'remove_tag' 'place' place }}>{{place}}</span>
      {{/each}}
      {{#each tag in model.tags}}
        <span class="tag tag-label delete-tag" {{action 'remove_tag' 'tag' tag }}>{{tag}}</span>
      {{/each}}
      <span class="collection tag-label">{{model.collection}}</span>
    </div>
    <img {{bind-attr src=model.medium_photo_path}} />
    <button class="btn btn-success" style="right: 1em;" {{action 'open_full'}}>Full Size</button>
    <button class="btn btn-warning" style="left: 1em;" {{action 'delete'}}>Delete</button>
  </div>
  <div class="photo-info" style="text-align: left;">
    <div class="pull-right">{{model.uploader}}</div>
    <div>{{model.original_filename}}</div>
    <div>{{model.formatted_photo_time}}</div>
    <div class="pull-right">{{model.file_hash}}</div>
    <div title="extra exif data goes here">{{model.resolution}}</div>
  </div>
</div>

<div class="col-sm-4">
  {{photo-tagging people=application.sorted_people_list
  places=application.sorted_places_list
  tags=application.sorted_tags_list
  collections=application.sorted_collection_list
  tagging='add_tag'
  }}
</div>
