<% photos.each_slice(4) do |photo_row| %>
  <div class="row" style="margin-top: 10px;">
    <% photo_row.each do |photo| %>
      <div class="col-md-3">
        <div class="photo img-thumbnail" data-id="<%= photo.id %>">
          <div style="text-align: center;">
            <a href="<%= preview_path photo.id %>" title="<%= photo.original_filename %>" target="preview">
              <img class="photo-thumbnail" src="<%= small_thumb_path photo.id %>">
            </a>
          </div>
          <div><%= photo.photo_time.andand.strftime('%F') %></div>
          <div class="tag-holder" style="text-align: center">
            <% photo.tags.each do |tag| %>
              <a href="<%= tag_collection_path tag %>" class="tag label label-primary">
                <%= tag %>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
